@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Aceto.XA.Feature.Search.Models.GlobalSearchRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "search-box", Model.Attributes)>
    <div class="component-content">
        @if (Model.DataSourceItem != null)
        {
            <form action="@Model.SearchResultPageUrl" id="frmGlobalSearch">
                <input type="text" id="queryText" class="form-control" name="query" placeholder="@Model.SearchTextBoxText">
                <div class="input-group-addon">
                    <button class="btn-transparent">
                        <i class="glyphicon glyphicon-search glyphicon-1x"></i>
                    </button>
                </div>
            </form>
        }
    </div>
</div>

